.main-page-content {
  padding-top: 80px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  &__header {
    padding: 1em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-end;

    .close-icon-wrapper {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: lightgray;
      }
    }
  }

  &__menu-items {
    list-style: none;
    padding: 0;
    li {
      padding: 0.75em 1.5em;
      &:hover {
        background-color: lightgray;
        a {
          color: blueviolet;
        }
      }
    }
  }
}